body{
    background: -webkit-linear-gradient(right, hsl(0, 98%, 49%), hsl(0, 0%, 100%), #0004ff);
   
    color: #000000;
    
    }
    h1{
    color: #b1b1b19d;
    text-shadow:0 0 2px rgb(83, 233, 233);
    font-family: times new roman, arial;
    }
    h2{
    color: #0fcbf0;
    text-shadow:0 0 2px blue;
    font-family: times new roman, arial;
    }
    h3{
    color: #ffbbbb;
    text-shadow:0 0 2px blue;
    font-family: times new roman, arial;
    }
    p{
    color: #526FAD;
    text-shadow:0 0 2px purple;
    font-family: times new roman, arial;

    }
    a:visited{
    color: aqua;
    }
    